@model MainBit.Alias.Models.UrlTemplateRecord
@{
    Layout.Title = T("Create URL template");
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Id)
    <fieldset>
        @Html.LabelFor(m => m.Position, T("Position"))
        @Html.TextBoxFor(m => m.Position, new { type = "number", @class = "text small" })
        @Html.ValidationMessageFor(m => m.Position)
        <span class="hint">@T("")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.BaseUrl, T("Base url template"))
        @Html.TextBoxFor(m => m.BaseUrl, new { @class = "text large" })
        @Html.ValidationMessageFor(m => m.BaseUrl)
        <span class="hint">@T("")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.StoredPrefix, T("Stored prefix template"))
        @Html.TextBoxFor(m => m.StoredPrefix, new { @class = "text large" })
        @Html.ValidationMessageFor(m => m.StoredPrefix)
        <span class="hint">@T("")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.Constraints, T("Constraints"))
        @Html.TextBoxFor(m => m.Constraints, new { @class = "text large" })
        @Html.ValidationMessageFor(m => m.Constraints)
        <span class="hint">@T("Regex constrains. Example: culture=\"^en-US$\",something=\"a|b\"")</span>
    </fieldset>
    <fieldset>
        <button class="primaryAction" type="submit">@T("Save")</button>
        @Html.ActionLink(T("Cancel").ToString(), "Index", null, new { @class = "button" })
    </fieldset>
}